</article>
</div>
<div class="col-lg-3">
<div class="sidebar">
<img class="img-fluid profile" src="/assets/images/dan-2024.jpg">

{% if page.layout != "home" %}
<aside id="recent-posts-2" class="widget widget_recent_entries"> <h3 class="widget-title">Recent Blog Posts</h3> <ul>
{% for post in site.posts limit:5 %}
<li>
<a href="{{ post.url }}">{{ post.title }}</a>
</li>
{% endfor %}
</ul>
</aside>
{% endif %}
 </div>
</div> </div>
</div>

{% if page.layout == "home" %}
<div class="container services-container">
  <div class="row">
    <div class="col-sm-12">
      <h2>How can I help you?</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-lg-8">
      <div class="widget">
        <h3>Technical Consultancy / Fractional CTO</h3>
        <p>Not every business that needs web-based systems has the skills in house to design and plan such a system, or to find the right people to build it for them. I can help to fill that gap.</p>
        <p>Keen to build a technical team in-house? I can help you set up processes and recruit a top-class team. If you're facing issues with existing processes, I can help you fix them.</p>
        <p>Got an existing system you would like independently reviewing? Need advice on a technology proposal you've been given? I can help give you clarity.</p>
        <p><a class="" href="/contact">Contact me to discuss &raquo;</a></p>
      </div>

      <div class="widget">
        <h3>Neurodiversity Advice &amp; Support</h3>
        <p>I was diagnosed with ADHD just a couple of years ago, and have invested a signficant amount of time in understanding neurodiversity. I've delivered training on neurodiversity to managers, technologists and youth groups.</p>
        <p>I can help you understand your responsibilities, how you can be a neurodiversity friendly employer, and advise on specific issues as required.</p>
        <p><a class="" href="/contact">Contact me to discuss &raquo;</a></p>
      </div>

      <div class="widget">
        <h3>Outdoors &amp; Youth Leadership</h3>
        <p>I hold current Lowland Leader and Camping Leader qualifications from Mountain Training UK, as well as being a Duke of Edinburgh Award Supervisor and Assessor. I can help you to plan, run and supervise walking, camping or DofE expeditions.</p>
        <p>On top of this, with over half a decade of youth leadership experience, I can help you plan and run compelling activities for young people.</p>
        <p><a class="" href="/contact">Contact me to discuss &raquo;</a></p>
      </div>
    </div>

    <div class="col-sm-12 col-lg-4">
      <div class="widget quals">
        <h3>Qualifications</h3>
        <ul>
          <li>Enhanced DBS</li>
          <li>SC Security Clearance</li>
          <li>Google - Cloud Digital Leader</li>
          <li>St John Ambulance - Activity First Aid (16h)</li>
          <li>St John Ambulance - Emergency First Aid At Work</li>
          <li>Level 2 First Aid for Mental Health</li>
          <li>Mountain Training - Lowland Leader (walking/group leadership)</li>
          <li>Mountain Training - Camping Leader</li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
<footer class="footer">
<div class="container">
<div class="row">
<div class="col-sm-12">
Copyright &copy; 2024, Dan Cryer.
</div>
</div>
</div>
</footer>
<script src="/assets/js/jquery.min.js" type="application/javascript"></script>
<script src="/assets/js/bootstrap.min.js" type="application/javascript"></script>
</html>
